.cont{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	position: relative;
	text-align: center;
}
.mark{
	position: relative;
	text-align: center;
	width: auto;
	height: 20px;
	bottom: 3px;
	margin: 2px 5px 0px 5px;
	border-bottom: 20px;
	background-color: #4DC1E5;
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}